## Test

In this file we will test our model on 5 city of increasing size (which graphs and other stuff are already generated) and then plot execution times and maybe other things.

`N` and `d` can be randomly generated, or maybe not.

Using `launch.py` we can launch our solver with:
- `N` randomly generated order
- `d` deliverers
- on a city `c`
- with timeout `t`

These ideas can be used to create a single program that execute for *x* times the solver for each city , using `N` and `d` generated from a selected probability distribution.

In [2]:
import pandas as pd
import seaborn as sb
import os
import numpy as np

In [3]:
names = ["Visano", "Asola","Montichiari","Brescia","Roma"]

**NB** Time is measured in second (by launch.py)

In [43]:
x = 10; # not unsat times for each city
times = pd.DataFrame(columns=['city','time','unsat','N','d'])


N = 10
d = 3

for i in range(1,6):
    
    N = i*5
    d = i

    for n in names:

        unsats = 0
        c = 0

        while (c < x):

            cmd = 'python3 launch.py -N ' + str(N) + ' -d ' + str(d) + ' -c ' + str(n) + ' -t 300' 
            print(cmd)
            out = os.popen(cmd).read()
            unsat = ('UNSAT' in out)

            unsats += unsat
            c += not unsat

            line = [line for line in out.split('\n') if "%%%mzn-stat: solveTime" in line]
            time = float(line[0].split('=')[1])

            # Add line to dataframe
            row = {'city': n, 'time': time,'unsat': unsat,'N': N, 'd': d}
            times = times.append(row, ignore_index = True)


        # update dataframe csv
        times.to_csv('results-increasing-size.csv', index=False)
        print(n + ': ' + str(unsats) + '/' + str(unsats+x) + ' are unsat.')

python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
python3 launch.py -N 10 -d 3 -c Visano -t 300
Visano: 4/14 are unsat.
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
python3 launch.py -N 10 -d 3 -c Asola -t 300
Asola: 6/16 are unsat.
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
python3 launch.py -N 10 -d 3 -c Montichiari -t 300
Montichiari: 6/16 are unsat.
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
python3 launch.py -N 10 -d 3 -c Brescia -t 300
Brescia: 0/10 are unsat.
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
python3 launch.py -N 10 -d 3 -c Roma -t 300
Roma: 0/10 are unsat.

In [11]:
times = pd.read_csv('res.csv')  
#print(times)

times[times['city']=='Montichiari'].mean()

#plot = sb.barplot(data=times, x="city", y="time", hue="unsat")
#plot.set_title('N = 10, d = 3, timeout = 5 minutes')
#plot.set_ylabel('time (seconds)')
#fig = plot.get_figure()
#fig.savefig("out.png")

/tmp/ipykernel_34238/4211308340.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  times[times['city']=='Montichiari'].mean()

time     53.168311
unsat     0.375000
dtype: float64

In [8]:
N = 10
d = 3
n = 'Montichiari'

out = 'UNSAT'
while('UNSAT' in out):

    cmd = 'python3 launch.py -N ' + str(N) + ' -d ' + str(d) + ' -c ' + str(n) + ' -t 300' 
    print(cmd)
    out = os.popen(cmd).read()
    
    if('UNSAT' not in out): print(out.split("TIME: ")[1].split('\n')[0])

python3 launch.py -N 10 -d 3 -c Montichiari -t 300
151.79566349500237